# .env.example
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB
DATABASE_URL=postgresql://YOUR_POSTGRES_USER:YOUR_POSTGRES_PASSWORD@postgres:5432/YOUR_POSTGRES_DB
SECRET_KEY = YOUR_JWT_ENCODE_SECRET_KEY
ALGORITHM = YOUR_JWT_ENCODE_ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES = YOUR_JWT_TOKEN_EXIPIRE_MINUTES
DUMMY_PASSWORD=YOUR_DUMMY_PASSWORD